{% extends "base/base.html" %}
{% block title %}Sample Test{% endblock %}
{% block content %}
  <!-- 제목 : START -->
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>로그인 사용자 정보</h1>
      </div>
    </div>
  </div>
  <!-- 제목 : END -->
  <!-- 로그인 정보 : START -->
  <div class="row">
    <div class="col-md-2">
      <label class="form-label">SEQ</label> :
      {{ user_info['SEQ'] }}
    </div>
    <div class="col-md-2">
      <label class="form-label">아이디</label> :
      {{ user_info['USER_ID'] }}
    </div>
    <div class="col-md-2">
      <label class="form-label">이름</label> :
      {{ user_info['USER_NAME'] }}
    </div>
    <div class="col-md-2">
      <label class="form-label">비밀번호</label> :
      {{ user_info['USER_PW'] }}
    </div>
    <div class="col-md-2">
      <label class="form-label">등록일시</label> :
      {{ user_info['RDATE'] }}
    </div>
    <div class="col-md-2">
      <label class="form-label">수정일시</label> :
      {{ user_info['MDATE'] }}
    </div>
  </div>
  <!-- 로그인 정보 : END -->
{% endblock %}