{% extends "base/base.html" %}
{% block title %}Sample Test{% endblock %}
{% block content %}
    <!-- 제목 : START -->
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>500</h1>
        </div>
      </div>
    </div>
    <!-- 제목 : END -->
    <!-- 오류 내용 : START -->
    <div class="row">
      <div class="col-md-12">
        <p id="error_msg">{{ error_msg }}</p>
        <pre>{{ error_msg.args }}</pre>
      </div>
    </div>
    <!-- 오류 내용 : END -->
{% endblock %}
