{% extends "bootstrap/base.html" %}
{% block title %}Sample Login{% endblock %}
{% block styles %}
  {{ super() }}
  <!-- bootstrap datetimepicker -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
{% endblock %}
{% block content %}
<div class="container" style="width: auto">
  <!-- 메뉴바 : START -->
  {% include 'includes/_navbar.html' %}
  <!-- 메뉴바 : END -->
  <!-- 제목 : START -->
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>로그인</h1>
      </div>
    </div>
  </div>
  <!-- 제목 : END -->
  <!-- 로그인 Form : START -->
  <form id="loginForm" name="loginForm" method="post" action="{{ url_for('login.login_process') }}">
    <input type="hidden" name="next_url" value="{{ next_url }}">
    <div class="row">
      <div class="col-md-2">
        <label for="user_id" class="form-label">아이디</label>
        <input type="text" class="form-control" name="user_id" id="user_id">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <label for="user_pw" class="form-label">비밀번호</label>
        <input type="password" class="form-control" name="user_pw" id="user_pw">
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col-md-2 text-right">
        <button type="button" class="btn btn-primary" id="doLogin">로그인</button>
      </div>
    </div>
  </form>
  <!-- 로그인 Form : END -->
  {% if login_error %}
  <!-- 오류 메시지 : START -->
  <div class="row">
    <div class="col-md-2">
      <p class="text-danger">아이디 혹은 비밀번호 정보가 다릅니다. 다시 입력 해 주세요.</p>
    </div>
  </div>
  {% endif %}
  <!-- 오류 메시지 : END -->
</div>
{% endblock %}
<!-- javascript 영역 -->
{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
      $(document).ready(function () {
          $('#doLogin').click(function (e) {
              if ($('#user_id').val() === '') {
                  alert('아이디를 입력 해 주세요.');
                  $('#user_id').focus();
                  return;
              }
              if ($('#user_pw').val() === '') {
                  alert('비밀번호를 입력 해 주세요.');
                  $('#user_pw').focus();
                  return;
              }
              $('#loginForm')[0].submit();
          });
      });
  </script>
{% endblock %}
