{% extends "base/base.html" %}
{% block title %}Sample Test{% endblock %}
{% block content %}
  <!-- 제목 : START -->
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>사용자 목록</h1>
      </div>
    </div>
  </div>
  <!-- 제목 : END -->
  <!-- 사용자 목록 : START -->
  <div class="row">
    <div class="col-md-12">
      <form id="userListForm" name="userListForm" method="post">
        <input type="hidden" name="page_num" id="page_num" value="1">
        <input type="hidden" name="row_per_page" id="row_per_page" value="10">
      <table class="table table-hover" id="userListTable">
        <thead>
        <tr>
          <th scope="col"><input type="checkbox" id="checkedAll"></th>
          <th scope="col">#</th>
          <th scope="col">아이디</th>
          <th scope="col">비밀번호</th>
          <th scope="col">이름</th>
          <th scope="col">등록일</th>
          <th scope="col">수정일시</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for user in user_list %}
          <tr>
            <td><input type="checkbox" name="user_seqs" value="{{ user['SEQ'] }}"></td>
            <td>{{ totalcount - ((page_num - 1) * row_per_page) - loop.index0 }}</td>
            <td>{{ user['USER_ID'] }}</td>
            <td>{{ user['USER_PW'] }}</td>
            <td>{{ user['USER_NAME'] }}</td>
            <td>{{ user['RDATE']|format_dt('%Y.%m.%d') }}</td>
            <td>{{ user['MDATE']|format_dt('%Y.%m.%d %H:%M:%S') }}</td>
            <td><button class="btn btn-primary goUpdateUserPopup" type="button">수정</button></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      </form>
    </div>
  </div>
  <!-- 사용자 목록 : END -->
  <!-- Paging : START -->
  <div class="row">
    <div class="col-md-12 text-center">
      {% include 'includes/_paging.html' %}
    </div>
  </div>
  <!-- Paging : END -->
  <!-- Button : START -->
  <div class="row">
    <div class="col-md-12 text-right">
      <button class="btn btn-danger" type="button" id="doDeleteUser">사용자 삭제</button>
      <button class="btn btn-primary" type="button" id="goInsertUserPopup">사용자 등록</button>
    </div>
  </div>
  <!-- Button : END -->
  <div id="saveUserModalArea">
  {% include 'user/_save_user_modal.html' %}
  </div>
{% endblock %}
<!-- javascript 영역 -->
{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='js/common.js') }}"></script>
  <script type="text/javascript">
      $(document).ready(function () {
          // checkbox 전체 checked/unckecked 처리
          $('#checkedAll').click(function (e) {
              fn_checkedAll_toggle();
          });
          // 사용자 등록 팝업
          $('#goInsertUserPopup').click(function (e) {
              fn_goInsertUserPopup();
          });
          // 사용자 등록/수정 처리
          $('#doSaveUser').click(function (e) {
              fn_doSaveUser();
          });
          // 사용자 수정 팝업
          $('.goUpdateUserPopup').click(function (e) {
              fn_goUpdateUserPopup($(this).parents('tr').find('input[name="user_seqs"]').val())
          });
          // 사용자 삭제 처리
          $('#doDeleteUser').click(function (e) {
              fn_doDeleteUser();
          });
      });
      // checkbox 전체 checked/unckecked 처리
      function fn_checkedAll_toggle() {
          if ($('#checkedAll')[0].checked) {
              $('#userListTable').find('input[name="user_seqs"]').each(function () {
                  this.checked = true;
              });
          } else {
              $('#userListTable').find('input[name="user_seqs"]').each(function () {
                  this.checked = null;
              });
          }
      }
      // 사용자 등록 팝업
      function fn_goInsertUserPopup() {
          $('#user_seq').val('');
          $('#user_id').val('');
          $('#user_pw').val('');
          $('#user_name').val('');
          $('#saveUserModal').modal('show');
      }
      // 사용자 등록/수정 처리
      function fn_doSaveUser() {
          if ($('#user_id').val() === '') {
              alert('아이디를 입력 해 주세요.');
              $('#user_id').focus();
              return;
          }
          if ($('#user_pw').val() === '') {
              alert('비밀번호를 입력 해 주세요.');
              $('#user_pw').focus();
              return;
          }
          if ($('#user_name').val() === '') {
              alert('이름을 입력 해 주세요.');
              $('#user_name').focus();
              return;
          }
          $.post($('#saveUserForm')[0].action, $('#saveUserForm').serialize(), function(data) {
              if (!data.is_success) {
                  alert('사용자 등록 시 오류가 발생 했습니다.');
              }
          }).fail(function(e) {
              common_ajaxFailProcess(e);
          }).done(function() {
              location.reload();
          });
      }
      // 사용자 수정 팝업
      function fn_goUpdateUserPopup(user_seq) {
          $.post('{{ url_for('user.get_user') }}', {'user_seq': user_seq}, function (data) {
              $('#saveUserModalArea').html(data);
              $('#saveUserModal').modal('show');
          }).fail(function (e) {
              common_ajaxFailProcess(e);
          }).done(function (e) {
              $('#doSaveUser').click(function (e) {
                  fn_doSaveUser();
              });
          });
      }
      // 사용자 삭제 처리
      function fn_doDeleteUser() {
          let delUserCount = 0;
          $('#userListTable').find('input[name="user_seqs"]:checked').each(function () {
              delUserCount++;
          });
          if (delUserCount < 1) {
              alert('삭제할 사용자를 선택 해 주세요.');
              return false;
          }
          if (!confirm('선택한 사용자를 삭제하시겠습니까?')) {
              return false;
          }
          $.post('{{ url_for('user.delete_users') }}', $('#userListForm').serialize(), function (data) {
              if (!data.is_success) {
                  alert(data.error_msg);
              }
          }).fail(function(e) {
              common_ajaxFailProcess(e);
          }).done(function() {
              location.reload();
          });
      }
      // 페이지 이동
      function fn_goPage(page_num) {
          $('#page_num').val(page_num);
          $('#userListForm')[0].action = '{{ url_for('user.user_list') }}';
          $('#userListForm')[0].submit();
      }
  </script>
{% endblock %}
